.App {
  text-align: center;
}
/* font-family: 'Lobster', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Roboto', sans-serif; */
.bg-Dark{
  background: black;
  color: rgb(146, 91, 20);
}

.c-w{
  width: 100%;
}
.c-w1{
  width: 50%;
}
.display{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.cus-bg-2{
  background-image: url('https://cdn.pixabay.com/photo/2017/05/19/10/58/watch-2326180_960_720.jpg');
  object-fit: cover;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
  background-attachment: fixed;
  background-size: 100% 100%;
}

@media only screen and (max-width: 600px) {
  #overlayImg{
    display: none;
  }
  .c-w{
    width: 100%;
  }
  .c-w1{
    width: 100%;
  }
  .dN{
    display: none;
  }
  .display{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
}
